.App {
	li {
		white-space: nowrap;

		padding-bottom: 100px;
		display: inline-flex;
		transform: translate(2em, -21em);
		margin-left: 180px;
		margin-right: -100px;
		margin-top: -600px;
		margin-bottom: 300px;
		border: 30px solid rgba(0, 174, 255, 0.01);
		background-color: rgba(0, 174, 255, 0.1);
		border-radius: 5px;
	}
}
