
.main_select
{
  h1 {
    
    white-space: nowrap ;
    margin: 0;
    display: inline-flex;
    color: black;
    align-items: flex-start;
  }
  
  span{
    white-space: nowrap ;
    display: inline-flex;
    color: grey;
    vertical-align: 3px;
  }

}
